<!DOCTYPE html>
<html>
<head>
    <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="static/styles.css">
    <title>Simple Diffusion</title>
</head>
<body>
<header>Simple Diffusion</header>

<h1>Simple Diffusion - RESTful Diffusion Web Client</h1>
<a href='https://zopyr.us'>By Kes</a>



<div id = 'Load_Image'>
    <h2>First step: Load Image </h2>
    <!-- Here we load the image somehow -->
    <!-- We either generate from promt, -->
    <!-- or load from a image in server database, -->
    <!-- or upload a image from local machine, -->
    <!-- or get a image silimar to a image in server db, -->
    <!-- or maybe load a image from a url (future feature?), -->
    
    <form id="generate">
        <fieldset>
            <legend>Method 1: Generate using prompt:</legend>
            <label for="positive_prompt_gen">Positive Prompt:</label><br>
            <input type="text" id="positive_prompt_gen" name="positive_prompt" value="high quality,highres,1girl,cloud, scenery, sunset"><br>
            <label for="negative_prompt_gen">Negative Prompt: (cancel pre-filled values with 'no negative prompt')</label><br>
            <input type="text" id="negative_prompt_gen" name="negative_prompt" value=""><br><br>
            <label for="ratio">(Width - Height) / 512: <p id="ratioDisplay">1</p></label>
            <input type="range" id="ratio" name="ratio" min="-2" max="2"value = "1" step='0.25' oninput="ratioDisplay.innerText = this.value"><br> <br>
            <label for="sampler_gen">Sampler Method:</label><br>
            <input type="radio" id="DPM2KA_gen" name="sampler_gen" value="DPM2 Karras" checked="checked">
            <label for="DPM2KA_gen">Default: DMP2 Karras</label><br>
            <input type="radio" id="Heun_gen" name="sampler_gen" value="Heun">
            <label for="Heun_gen">More Creative: Heun</label><br>
            <input type="radio" id="DDIM_gen" name="sampler_gen" value="DDIM">
            <label for="DDIM_gen">Neural: DDIM</label><br>
            <input type="radio" id="Eular_a_gen" name="sampler_gen" value="Euler a">
            <label for="Eular_a_gen">Something different: Eular Ancestry</label><br>
            <input type="radio" id="LMS_gen" name="sampler_gen" value="LMS">
            <label for="LMS_gen">Stable: LMS</label><br><br>
            <label for="seed_gen">Seed:</label><br>
            <input type="text" id="seed_gen" name="seed" value="-1"><br><br>
            <label for="steps_delta_percent">percent off default step number:<br/> (can result in worse result!)<p id="stepDeltaDisplay">0</p></label>
            <input type="range" id="step_delta" name="steps_delta_percent" min="-100" max="50"value = "0" step='1' oninput="stepDeltaDisplay.innerText = this.value"><br> <br>
            <input type="submit" value="Generate!">
        </fieldset>
    </form>
    <form id="load_from_server">
        <fieldset>
            <legend>Method 2: Load a image in server:</legend>
            <label for="load_uuid">Load image UUID:</label><br>
            <input type="text" id="load_uuid" name="load_uuid" value=""><br>
            <input type="submit" value="Load!">
        </fieldset>
    </form>
    <form id="generate_like">
        <fieldset>
            <legend>Method 3: Generate an image like a image in server:</legend>
            <label for="like_uuid">Generate use image UUID:</label><br>
            <input type="text" id="like_uuid" name="like_uuid" value=""><br>
            <input type="submit" value="Generate!">
        </fieldset>
    </form>
    <form id="upload_image">
        <fieldset>
            <legend>Method 4: Upload and load a image from local machine:</legend>
            <label for="myfile">Select a file:</label>
            <input type="file" id="myfile" name="file" accept="image/x-png,image/jpeg,image/webp"><br><br>
            <!-- <input type="submit" value="Load!"> -->
            <div id="progress-wrp">
                <div class="progress-bar"></div>
                <div class="status">0%</div>
            </div>
        </fieldset>
    </form>
</div>
<br/>
<br/>
<h3 id="queue_pos_display">
    <div id="queue_pos">
        Position In Queue: Press Generate First!
    </div>
    <div id="imageUUID">
        Image UUID :       Press Generate First!
    </div>
</h3>
<div id="Source_Image_View">
    <!-- Here is the image view window -->
    <!-- We will also have a button to download the picture -->
    <img id="Source_Image" src="static/source_image_placeholder.webp" alt="Source Image Here"><br>
    If image is not loaded properly:
    <button type="button" id="reload_source">Reload Image</button><br>
</div>
<br/>
<br/>
<div id="Info">
    <!-- Here we will put a button to load related info about the image -->
    <button type="button" id="info_button">Info about Pic Above</button>
    <pre id="info_display"></pre>
</div>
<br/>
<br/>
<div id = 'Queue_View'>
    <!-- Here is the queue from the server, updated automaticly  -->
    <h3>Server Queue</h3>
    <button type="button" id="stop_queue">Stop fetching server queue</button>
    <button type="button" id="start_queue">Start fetching server queue for 1 minute</button>
    <table id = 'server_queue_display'>
        <tr>
          <th>Position</th>
          <th>UUID</th>
        </tr>
        <tbody id="queue_content">
        </tbody>
      </table>
</div>
<br/>
<br/>
<br/>


<div id="Process_div">
    <!-- Here we put the prompts for further processing -->
    <!-- Here we put a Button to upscale the Image using SwinIR -->
    <!-- Will adapt height and width automaticlly -->
    <form id="process">
        <fieldset>
            <legend>How you want to tweeck the picture:</legend>
            <label for="positive_prompt_process">Positive Prompt:</label><br>
            <input type="text" id="positive_prompt_process" name="positive_prompt" value="1girl"><br>
            <label for="negative_prompt_process">Negative Prompt: (cancel pre-filled values with 'no negative prompt')</label><br>
            <input type="text" id="negative_prompt_process" name="negative_prompt" value="no_humans"><br>
            <br>
            <label for="denoise_strength_delta">Creativity Delta: <p id="denoiseDisplay">0</p></label>
            <input type="range" id="denoise_strength_delta" name="denoise_strength_delta" min="-69" max="69"value = "0" step='1' oninput="denoiseDisplay.innerText = this.value"><br>
            <br>
            <label for="sampler_process">Sampler Method:</label><br>
            <input type="radio" id="DDIM_process" name="sampler_process" value="DDIM" checked="checked">
            <label for="DDIM_process">Default: Inspired: DDIM</label><br>
            <input type="radio" id="LMS_process" name="sampler_process" value="LMS">
            <label for="LMS_process">Keep structure & Enhance: LMS</label><br>
            <input type="radio" id="DPM2KAA_process" name="sampler_process" value="DPM2 a Karras">
            <label for="DPM2KAA_process">Detailed fix: Regeneration: DMP2 a Karras</label><br>
            <input type="radio" id="Heun_process" name="sampler_process" value="Heun">
            <label for="Heun_process">Detail Redraw: Heun</label><br>
            <input type="radio" id="Eular_a_process" name="sampler_process" value="Euler a">
            <label for="Eular_a_process">Overhaul & More Creative: Eular Ancestry</label><br>
            <br>
            <label for="seed_process">Seed:</label><br>
            <input type="text" id="seed_process" name="seed" value="-1"><br>
            <label for="steps_delta_percent_process">percent off default step number:<br/> (can result in worse result!)<p id="stepDeltaDisplayProcess">0</p></label>
            <input type="range" id="step_delta_process" name="steps_delta_percent_process" min="-100" max="50"value = "0" step='1' oninput="stepDeltaDisplayProcess.innerText = this.value"><br> <br>
            <input type="submit" value="Generate!">
        </fieldset>
    </form>
</div>

<h3 id="queue_pos_display_process">
    <div id="queue_pos_process">
        Position In Queue:     Press Generate First!
    </div>
    <div id="processUUID">
        Processed Image UUID : Press Generate First!
    </div>
</h3>
<div id="Final_Image_View">
    <!-- Here is the image view for image after diffusing -->
    <!-- Also a Download button will be here -->
    <!-- Also a button to send to original image view -->
    <!-- This is done by simpily remove image from here, add image to above -->
    <!-- Importantly, the hidden ID for the image in source will be the UUID of pic -->
    <button type="button" id="Discard_and_get_new">No! I don't like it! New One!</button><br><br>
    <img id="Processed_Image" alt="The generated image will be here"><br>
    If image is not loaded properly:
    <button type="button" id="reload_processed">Reload Image</button><br>
    <!-- <a id="download_process_link" download> -->
    <button type="button" id="Download_processed">Download</button><br>
    <!-- </a> -->
    <br/>
    <button type="button" id="Send_to_be_processed">I would like this image to be processed</button><br>
</div>

<div id="Processed_Info">
    <!-- Here we will put a button to load related info about the image -->
    <button type="button" id="processed_info_button">Info about the processed Pic Above</button>
    <pre id="processed_info_display"></pre>
</div>
<br/>
<br/>
<br/>
<br/>
<div id="my_album">
    <!-- An album of image generated by this machine (saved locally) -->
    <!-- What is saved is only the UUID and a nickname for each image -->
    <!-- Each image will have two button - delete and rename -->
    <!-- Also a button to save album locally (just a csv)-->
    <!-- Maybe a button to get a shareable link -->
    <!-- Shareable link is done by transmit the image ids to the server -->
    <!-- And the server will store this data in a albums db, access by another uuid -->
    <!-- Image is just raw doog loaded -->
</div>


<script type = "text/javascript">
    var queueFetch;
    var waitUUID;
    var imgUUID;
    var waitProcessUUID;
    var processedUUID;
    var imgParams;
    var processedParams;
    var fetchCount = 0;
    var uploadSizeLimit = 50000000;
    var generatedUUIDs = JSON.parse(localStorage.getItem("generatedUUIDs"));
    if (!generatedUUIDs){generatedUUIDs=[]};
    $('#my_album').hide()
    // upload function from JohannesAndersson's and Mosh Feu's answer to  https://stackoverflow.com/questions/2320069/jquery-ajax-file-upload
    var Upload = function (file) {
        this.file = file;
    };
    Upload.prototype.getType = function() {return this.file.type;};
    Upload.prototype.getSize = function() {return this.file.size;};
    Upload.prototype.getName = function() {return this.file.name;};
    Upload.prototype.doUpload = function () {
        var that = this;
        var formData = new FormData();
        // add assoc key values, this will be posts values
        formData.append("file", this.file, this.getName());
        formData.append("upload_file", true);
        $.ajax({
            type: "POST",
            url: "upload",
            xhr: function () {
                var myXhr = $.ajaxSettings.xhr();
                if (myXhr.upload) {
                    myXhr.upload.addEventListener('progress', that.progressHandling, false);
                }
                return myXhr;
            },
            success: function (data) {
                // your callback here
                $("#Source_Image").attr("src",'image/'+data['UUID']+"?time="+new Date().getTime());
                imgUUID = data['UUID'];
                $('#imageUUID').html("Image UUID :       "+data['UUID']);
                $('#queue_pos').html("Position In Queue: Loaded Image!");
                imgParams = JSON.parse(data['params']);
                if (! localStorage.getItem(imgUUID)){
                    generatedUUIDs.push(imgUUID);
                    localStorage.setItem(imgUUID, JSON.stringify(imgParams));
                    localStorage.setItem("generatedUUIDs", JSON.stringify(generatedUUIDs));
                    formAlbum();
                }
                updateInfo();
                $('#Process_div').show(); 
                $('#queue_pos_display_process').show()
            },
            error: function (error) {
                // handle error
                console.log(error)
                alert("While uploading images, the following error is encountered "+error)
            },
            async: true,
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            timeout: 60000
        });
    };
    Upload.prototype.progressHandling = function (event) {
        var percent = 0;
        var position = event.loaded || event.position;
        var total = event.total;
        var progress_bar_id = "#progress-wrp";
        if (event.lengthComputable) {
            percent = Math.ceil(position / total * 100);
        }
        // update progressbars classes so it fits your code
        $(progress_bar_id + " .progress-bar").css("width", +percent + "%");
        $(progress_bar_id + " .status").text(percent + "%");
    };




    $(document).ready( function () {

        queueCheck()
        $('#server_queue_display').hide()
        $('#Process_div').hide(); 
        $('#Final_Image_View').hide()
        $('#queue_pos_display_process').hide()
        $('#stop_queue').hide() 
        // Section for handling loading of image
        $('#generate').on( "submit", function(e){
            console.log('Generating results using');
            var ele = document.getElementsByName('sampler_gen');
            for(i = 0; i < ele.length; i++) {
                if(ele[i].checked)
                sampler_gen = ele[i].value;
            }
            
            var genDic = {
                prompt:$('#positive_prompt_gen').val(),
                negative_prompt:$('#negative_prompt_gen').val(),
                ratio:$('#ratio').val(),
                sampler_index: sampler_gen,
                seed:$('#seed_gen').val(),
                step_delta:$('#step_delta').val()
            };
            console.log(genDic);
            $.ajax({
                type: "POST",
                url: "new",
                data: JSON.stringify(genDic),
                success: function(data) {
                    console.log('Response image UUID:');
                    console.log(data);
                    waitUUID = data['UUID']
                    $('#imageUUID').html("Image UUID :       "+waitUUID);
                    $('#queue_pos').html("Position In Queue: "+data['Queue']);
                    $("#Source_Image").attr("src",'static/please_wait_until_your_image.webp');  
                    $('#Load_Image').hide();   
                    $('#Process_div').hide();     
                    $('#info_display').html(''); 
                    console.log('Start Fetching Queue!');
                    fetchCount = 0
                    if (!queueFetch){queueFetch = setInterval(queueCheck, 1000);};
                    $('#server_queue_display').show()
                },
                error:function(error) {
                    console.log(error.responseJSON);
                    alert(JSON.stringify(error.responseJSON))
                },
                contentType: 'application/json; charset=utf-8',
                dataType: 'json'
            });
          e.preventDefault();
        });

        $('#load_from_server').on( "submit", function(e){
            console.log('Load image using');
            var uuidReq = $('#load_uuid').val();
            console.log(uuidReq);
            $("#Source_Image").attr("src",'image/'+uuidReq+"?time="+new Date().getTime());
            imgUUID = uuidReq;
            $('#imageUUID').html("Image UUID :       "+imgUUID);
            $('#queue_pos').html("Position In Queue: Loaded Image!");
            console.log('Getting info about pic above!');
            $.getJSON( "get_info/"+imgUUID, function( data ) {
                imgParams = data;
                updateInfo();
                if (! localStorage.getItem(imgUUID)){
                    generatedUUIDs.push(imgUUID);
                    localStorage.setItem(imgUUID, JSON.stringify(imgParams));
                    localStorage.setItem("generatedUUIDs", JSON.stringify(generatedUUIDs));
                    formAlbum();
                }
                $('#Process_div').show(); 
                $('#queue_pos_display_process').show()
            }).fail(function(error) {
                console.log(error.responseJSON);
                alert(JSON.stringify(error.responseJSON))
            });
          e.preventDefault();
        });

        $('#generate_like').on( "submit", function(e){
            var uuidReq = $('#like_uuid').val();
            generateLike(uuidReq);
            e.preventDefault();
        });

        $('#myfile').on( "change", function(e){
            var file = $('#myfile')[0].files[0];
            console.log(file)
            if (file){
                console.log('Image upload!');
                var upload = new Upload(file);

                // maby check size or type here with upload.getSize() and upload.getType()
                console.log('Size: '+upload.getSize())
                console.log('Type: '+upload.getType())
                if (upload.getSize() > uploadSizeLimit) {
                    alert('File too big!')
                    $("#myfile").replaceWith($("#myfile").val('').clone(true))
                }else if(upload.getType()=='image/png'||upload.getType()=='image/jpeg'||upload.getType()=='image/webp'){
                    // execute upload
                    upload.doUpload();
                }else{
                    alert('Only jpegs, pngs and webps are allowed!')
                    $("#myfile").replaceWith($("#myfile").val('').clone(true))
                }
            }
            e.preventDefault();
        });

        $('#stop_queue').click( function(e){
            console.log('Stop Fetching Queue!');
            clearInterval(queueFetch);
            queueFetch = null;
            $('#server_queue_display').hide()
        });

        $('#start_queue').click( function(e){
            console.log('Start Fetching Queue!');
            fetchCount = 0
            if (!queueFetch){queueFetch = setInterval(queueCheck, 1000);};
            $('#server_queue_display').show()
        });

        $('#info_button').click( function(e){
            if (imgUUID){
                console.log('Getting info about pic above!');
                $.getJSON( "get_info/"+imgUUID, function( data ) {
                    imgParams = data;
                    updateInfo();
                }).fail(function(error) {
                    console.log(error.responseJSON);
                    alert(JSON.stringify(error.responseJSON))
                });
            }
        });

        $('#processed_info_button').click( function(e){
            if (processedUUID){
                console.log('Getting info about processed pic above!');
                $.getJSON( "get_info/"+processedUUID, function( data ) {
                    processedParams = data;
                    updateInfo();
                }).fail(function(error) {
                    console.log(error.responseJSON);
                    alert(JSON.stringify(error.responseJSON))
                });
            }
        });

        $('#process').on( "submit", function(e){
            processImage(regen=false)
            e.preventDefault();
        });

        $('#reload_source').click( function(e){
            document.getElementById("Source_Image").src='image/'+imgUUID+"?time="+new Date().getTime();
        });
        
        $('#reload_processed').click( function(e){
            document.getElementById("Processed_Image").src='image/'+processedUUID+"?time="+new Date().getTime();
        });

        $('#Discard_and_get_new').click( function(e){
            console.log('Trying to get a new one!');
            processImage(regen=true)
        });

        $('#Download_processed').click( function(e){
            console.log('Downloading processed image!');
            // var link = $("<a href='image/"+processedUUID+" download'></a>");
            // var link = $("<a download></a>");
            // // link.attr("herf",'image/'+processedUUID); 
            // link.attr("herf",'static/no_such_image.webp'); 
            // $(document).append(link)
            // link.click();


            var link = document.createElement('a');
            link.href = 'image/'+processedUUID;
            link.download = '';
            link.click();
            link.remove();
        });

        $('#Send_to_be_processed').click( function(e){
            console.log('Send to above');
            imgUUID = processedUUID;
            processedUUID = null;
            $.getJSON( "get_info/"+imgUUID, function( infodata ) {
                imgParams = infodata;
                updateInfo();
            }).fail(function(error) {
                console.log(error.responseJSON);
                alert(JSON.stringify(error.responseJSON))
            });
            $('#queue_pos').html("Position In Queue: Loaded Image!");
            $('#imageUUID').html("Image UUID :       "+imgUUID);
            $("#Source_Image").attr("src",'image/'+imgUUID+"?time="+new Date().getTime()); 
            $('#Load_Image').show();
            $('#Process_div').show(); 
            $('#queue_pos_display_process').show()
            console.log('Stop Fetching Queue!');
            clearInterval(queueFetch);
            queueFetch = null;
            $('#server_queue_display').hide()

            $('#queue_pos_process').html("Position In Queue:     Press Generate First!");
            $('#processUUID').html("Processed Image UUID : Press Generate First!");
            $("#Processed_Image").attr("src",'static/source_image_placeholder.webp'); 
            $('#Final_Image_View').hide()
            $('#Discard_and_get_new').hide()
            
            $('#Download_processed').hide()
            // $('#download_process_link').attr("herf",'image/'+processedUUID);
            $('#Send_to_be_processed').hide()
        });

        formAlbum();

    });
    function generateLike(uuidReq){
        console.log('Generate image like');
        console.log(uuidReq);
        // $("#Source_Image").attr("src",'image/'+uuidReq);
        $.getJSON( "new_like/"+uuidReq, function( data ) {
            console.log('Response image UUID:');
            console.log(data);
            waitUUID = data['UUID']
            $('#imageUUID').html("Image UUID :       "+waitUUID);
            $('#queue_pos').html("Position In Queue: "+data['Queue']);
            $("#Source_Image").attr("src",'static/please_wait_until_your_image.webp');  
            $('#Load_Image').hide();  
            $('#Process_div').hide();    
            $('#info_display').html('');   
            console.log('Start Fetching Queue!');
            fetchCount = 0
            if (!queueFetch){queueFetch = setInterval(queueCheck, 1000);};
            $('#server_queue_display').show()
        }).fail(function(error) {
        console.log(error.responseJSON);
        alert(JSON.stringify(error.responseJSON))
        });
    }

    function updateInfo(){
        console.log(JSON.stringify(imgParams, null, 2));
        $('#info_display').html(JSON.stringify(imgParams, null, 2));
        if (!$.isEmptyObject(imgParams)){
            if ('prompt' in imgParams){
                $('#positive_prompt_process').val(imgParams['prompt']);
            };
            if ('negative_prompt' in imgParams){
                $('#negative_prompt_process').val(imgParams['negative_prompt']);
            };
            
        }
        $('#processed_info_display').html(JSON.stringify(processedParams, null, 2));
    }

    var previous_response_string = ''
    function queueCheck(){
        fetchCount = fetchCount + 1;
        $.getJSON( "get_queue", function( data ) {
            var currentString = JSON.stringify(data);
            if (previous_response_string != currentString || fetchCount == 1){
                
                console.log('Server Queue changed:');
                console.log(data);
                previous_response_string = currentString;
                setTimeout(function(){    console.log('Waiting for server');},500);
                $('#queue_content').html('');
                var counter = 0;
                var myJobInQueue = false;
                var processJobInQueue = false;
                for (const key in data){
                    // console.log(key);
                    // console.log(data[key]);
                    counter++;
                    if (key == waitUUID){
                        myJobInQueue = true;
                        $('#queue_pos').html("Position In Queue: "+counter);
                    }
                    if (key == waitProcessUUID){
                        processJobInQueue = true;
                        $('#queue_pos_process').html("Position In Queue:     "+counter);
                    }
                    $('#queue_content').append("<tr><th>"+counter+"</th><th>"+key+"</th></tr>")
                }
                if (!myJobInQueue && waitUUID){
                    console.log("My job "+waitUUID+" is porbably done! updating view!")
                    imgUUID = waitUUID;
                    waitUUID = '';
                    $('#queue_pos').html("Position In Queue: Loaded Image!");
                    $('#imageUUID').html("Image UUID :       "+imgUUID);
                    $("#Source_Image").attr("src",'image/'+imgUUID+"?time="+new Date().getTime()); 
                    $.getJSON( "get_info/"+imgUUID, function( data ) {
                        imgParams = data;
                        updateInfo();
                        if (! localStorage.getItem(imgUUID)){
                            generatedUUIDs.push(imgUUID);
                            localStorage.setItem(imgUUID, JSON.stringify(imgParams));
                            localStorage.setItem("generatedUUIDs", JSON.stringify(generatedUUIDs));
                            formAlbum();
                        }
                        $('#Process_div').show(); 
                        $('#queue_pos_display_process').show()
                    }).fail(function(error) {
                        console.log(error.responseJSON);
                        alert(JSON.stringify(error.responseJSON))
                    });
                    $('#Load_Image').show();
                    $('#Process_div').show(); 
                    $('#queue_pos_display_process').show()
                    console.log('Stop Fetching Queue!');
                    clearInterval(queueFetch);
                    queueFetch = null;
                    $('#server_queue_display').hide()
                }
                if (!processJobInQueue && waitProcessUUID){
                    console.log("Process job "+waitProcessUUID+" is porbably done! updating view!")
                    processedUUID = waitProcessUUID;
                    waitProcessUUID = '';
                    $('#queue_pos_process').html("Position In Queue:     Loaded Image!");
                    $('#processUUID').html("Processed Image UUID : "+processedUUID);
                    $("#Processed_Image").attr("src",'image/'+processedUUID+"?time="+new Date().getTime()); 
                    $.getJSON( "get_info/"+processedUUID, function( data ) {
                        processedParams = data;
                        updateInfo();
                        if (! localStorage.getItem(imgUUID)){
                            generatedUUIDs.push(processedUUID);
                            localStorage.setItem(processedUUID, JSON.stringify(processedParams));
                            localStorage.setItem("generatedUUIDs", JSON.stringify(generatedUUIDs));
                            formAlbum();
                        }
                    }).fail(function(error) {
                        console.log(error.responseJSON);
                        alert(JSON.stringify(error.responseJSON))
                    });
                    $('#Load_Image').show();
                    $('#Process_div').show(); 
                    $('#Final_Image_View').show()
                    $('#Discard_and_get_new').show()
                    
                    $('#Download_processed').show()
                    // $('#download_process_link').attr("herf",'image/'+processedUUID);
                    $('#Send_to_be_processed').show()
                    console.log('Stop Fetching Queue!');
                    clearInterval(queueFetch);
                    queueFetch = null;
                    $('#server_queue_display').hide()
                }
            };
        });
        if (fetchCount > 60){
            console.log('Stop Fetching Queue!');
            clearInterval(queueFetch);
            queueFetch = null;
            $('#server_queue_display').hide()
        }
    } 

    function processImage(regen){
        console.log('Processing results using');
            var ele = document.getElementsByName('sampler_process');
            for(i = 0; i < ele.length; i++) {
                if(ele[i].checked)
                sampler_process = ele[i].value;
            }
            
            var processDic = {
                prompt:$('#positive_prompt_process').val(),
                negative_prompt:$('#negative_prompt_process').val(),
                denoise_strength_delta:$('#denoise_strength_delta').val(),
                sampler_index: sampler_process,
                seed:$('#seed_process').val(),
                step_delta:$('#step_delta_process').val(),
                source_uuid:imgUUID
            };
            if (regen&&processedUUID) {processDic['replace_uuid'] = processedUUID};

            console.log(processDic);
            $.ajax({
                type: "POST",
                url: "diffuse",
                data: JSON.stringify(processDic),
                success: function(data) {
                    console.log('Response image UUID:');
                    console.log(data);
                    waitProcessUUID = data['UUID']
                    $('#processUUID').html("Processed Image UUID : "+waitProcessUUID);
                    $('#queue_pos_process').html("Position In Queue:     "+data['Queue']);
                    $("#Processed_Image").attr("src",'static/please_wait_until_your_image.webp');   
                    $('#Process_div').hide();    
                    $('#Discard_and_get_new').hide()
                    $('#Download_processed').hide()
                    $('#Send_to_be_processed').hide()
                    $('#info_display').html(''); 
                    $('#Final_Image_View').show()
                    console.log('Start Fetching Queue!');
                    fetchCount = 0
                    if (!queueFetch){queueFetch = setInterval(queueCheck, 1000);};
                    $('#server_queue_display').show()
                },
                error:function(error) {
                    console.log(error.responseJSON);
                    alert(JSON.stringify(error.responseJSON))
                },
                contentType: 'application/json; charset=utf-8',
                dataType: 'json'
            });
    }


    function formAlbum(){
        var count = 0
        var cards = $("<div class='cards'></dev>");
        console.log('My album:');
        for (let idx in generatedUUIDs){
            let UUID = generatedUUIDs[generatedUUIDs.length-idx-1];
            console.log(UUID);
            var card = $("<div class='card' id='"+UUID+"'></div>");
            card.append($("<h3>"+UUID+"<h3/>"));
            card.append($("<img src='image/"+UUID+"'/>"));
            card.append($("<br/>"));
            card.append($('<pre></pre>').html(JSON.stringify(JSON.parse(localStorage.getItem(UUID)), null, 2)));
            var deleteButton = $('<button type="button" >Delete '+UUID+'</button>');
            deleteButton.click(function(){
                deleteImageFromAlbum(generatedUUIDs.length-idx-1,UUID);
            });
            card.append(deleteButton);
            card.append($("<br/>"));
            var generateLikeButton = $('<button type="button" >Generate Image Like '+UUID+'</button>');
            generateLikeButton.click(function(){
                generateLike(UUID);
            });
            card.append(generateLikeButton);
            card.append($("<br/>"));
            cards.append(card);
            count++;
        }
        if (count == 0){
            $("#my_album").html('<div id = "no_result">No images in local storage.</div>');
        }else{
            $("#my_album").html('');
            $("#my_album").append(cards);
        }
        $('#my_album').show();
    }
    
    function deleteImageFromAlbum(idx,UUID){
        console.log('removing idx '+idx);
        console.log('removing UUID '+UUID);
        generatedUUIDs.splice(idx, 1);
        localStorage.removeItem(UUID);
        localStorage.setItem("generatedUUIDs", JSON.stringify(generatedUUIDs));
        formAlbum();
    };
</script>
<footer></footer>
</body>
</html>
